---
import '../styles/global.css';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Igor Gembitsky</title>
</head>
<body>
  <h1 class="text-white text-4xl p-8 font-mono">Igor Gembitsky</h1>
</body>
</html>
