---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
---
<BaseLayout>
  <Nav />
  <main class="pt-16">
    <div class="p-8 text-white">Sections go here</div>
  </main>
</BaseLayout>
