---
interface Props {
  label: string;
  id?: string;
}
const { label, id } = Astro.props;
---
<div id={id} class="reveal container pt-24 pb-8">
  <h2 class="text-xs font-mono uppercase tracking-widest text-accent">{label}</h2>
</div>
